@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #EA3680;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #EA3680;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* COLOUR SCHEMES */
/* <color name="black">#FF000000</color>
<color name="white">#FFFFFFFF</color>
<color name="pink">#EA3680</color>
<color name="pink100">#ff80ab</color>
<color name="grey600">#757575</color>
<color name="pink900">#880e4f</color>
<color name="lightblue200">#40c4ff</color> */