@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #EA3680;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #EA3680;
  }
}


::selection {
  background-color: rgba(234, 54, 128, 0.5); /* Semi-transparent pink */
  color: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* underline setup for transition */
.underlined {
  display: inline-block;
  padding-bottom: 10px;
  background-image: linear-gradient(#EA3680 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 4px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

/* Transition of underline left-to right */
.underlined:hover {
  color: #EA3680;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 4px;
}


.product-box {
  transition: transform 300ms ease; /* Apply transition to transform (scale) */ 
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-color: #EA3680; 
}

.product-box:hover{
  transition-duration: 300ms;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color), 
              0 0 6px 6px rgba(234, 54, 128, 1);
  --tw-ring-color: #EA3680;  /* Define the ring color */ 
}

.home-logo {
  background-color: none;
}

.home-logo:hover {
  transition-duration: 500ms;
  /* border-top-right-radius: 30px;  */
  border-bottom-right-radius: 30px;
  background-color: rgba(80, 80, 80, 0.5); /* Semi-transparent pink */
}

.pink-shadow {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color), 
              0 0 12px 12px rgba(234, 54, 128, 0.7);
  --tw-ring-color: #EA3680;  
}

.pink-shadow:hover{
  transition-duration: 300ms;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color), 
              0 0 12px 12px rgba(234, 54, 128, 1);
  --tw-ring-color: #EA3680;  /* Define the ring color */ 
}

.nav-shadow {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color), 
              0 0 12px 12px rgba(234, 54, 128, 0.7);
  --tw-ring-color: #EA3680;  
}

.nav-shadow:hover{
  transition-duration: 300ms;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color), 
              0 0 12px 12px rgba(234, 54, 128, 1);
  --tw-ring-color: #EA3680;  /* Define the ring color */ 
}



/* COLOUR SCHEMES */
/* <color name="black">#FF000000</color>
<color name="white">#FFFFFFFF</color>
<color name="pink">#EA3680</color>
<color name="pink100">#ff80ab</color>
<color name="grey600">#757575</color>
<color name="pink900">#880e4f</color>
<color name="lightblue200">#40c4ff</color> */